body {
    margin: 0;
    padding: 0;
}
.application {
    width: 24px;
    height: 24px;
    margin:0%;   
}
/* nav kısımları */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin-top: 1vh;
}
/* Sol taraftaki butonlar */
.first-nav {
    margin: 1vh 1vw;
    text-decoration: none;
    color: black;
}
/*Sağ taraftaki butonların divi */
.second-nav-div {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
/*Sağ taraftaki butonlar  */
.second-nav {
    margin: 1vh 1vw;
    text-decoration: none;
    color: black;
}
/* Sign in butonu ayarlama */
.nav-button {
    position:relative; 
    bottom:1.5vh;
    background: #8ab4f8;
    border: 5px solid transparent;
    border-radius: 8px;
    color: white;
}
/* section içindeki düzeltmeler */
section {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width:100vw;
    text-align: center;
}
/* Arama butonu ayarlama */
.search-button {
    width:60%;
    height:4.5vh;
    margin: 1vh 0;
    border-radius: 10px;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    box-shadow: 0px 10px 13px -7px #000000, 3px 12px 23px 3px rgba(0,0,0,0);
}
.search-img {
    z-index:2px; 
}
/* footer içindeki düzenlemeler */
footer {

    position:absolute;
    bottom:0;
    width:100vw;
    height: 5vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.first-footer {
    margin: 0 1vw;
    text-decoration: none;
    color: black;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

}
